body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 20px;
}

header {
  display: flex;
  margin: 30px auto;
  position: block;
  gap: 20px;
}

.links-title {
  align-self: center;
}

.about-title {
  align-self: center;
}

.header-avarar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.header-about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header-text {
  align-self: center;
}

.fullname {
  text-decoration: underline;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 0 auto;
  /* width: 35%; */
  /* min-width: 300px; */
  gap: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min-content;
}

.links > div > a {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #0a66c225;
  padding-inline: 10px;
  border-radius: 15px;
  background-color: var(--color);
  box-shadow: 0 5px 20px var(--color);
}

.links > div > a:hover {
  box-shadow: 0 3px 5px 0 var(--color), 0 5px 15px 0 var(--color);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.links > div > a > p {
  align-self: center;
}

.wrap-link {
  position: relative;
}

.wrap-link > .copy {
  position: absolute;
  right: 0;
  top: 10px;
  margin: auto;
  margin-right: 5px;
  border: none;
  cursor: pointer;
}

.links > div > a > img, .links > div > a > svg {
  height: 30px;
  width: 30px;
  align-self: center;
}

.copy-block {
  height: 30px;
  width: 30px;
}

.linkedin > svg {
  color: #0a66c2;
}

.linkedin {
  --color: #0a66c225;
}

.github {
  --color: #0000001f;
}

.email {
  --color: rgba(234, 24, 24, 0.283);
}

.telegram {
  --color: #0088cc1f;
}

.skype {
  --color: #00aff01f;
}

.facebook {
  --color: #0866ff1f;
}

.linkedin > p {
  color: #000000;
}

.facebook > svg {
  color: #0866ff;
  background-color: transparent;
}

.discord {
  --color: #7289da1f;
}

.copy {
  border: 1px solid #27629d93;
  border-radius: 10%;
  padding: 3px;
  align-self: center;
}
.copy:hover {
  background-color: #c5c5c58a;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.copy > svg {
  height: 30px;
  width: 30px;
  align-self: center;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}